input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: monospace;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: white;
    background: #3f4650;

    cursor: pointer;

    border-radius: 8px;
    transition: all 0.25s ease-out;
    margin-top: 1rem;
}

.lbl-toggle:hover {
    background: #4a5258;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    background: #3f4650;
    border-bottom: 1px solid #3f4650;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 1rem;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease-in-out;
    background: #3f4650;
    border-radius: 0 0 8px 8px;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}