@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
       background-image: url(../assets/img/home.gif);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       font-family: "Roboto";
}

body::-webkit-scrollbar {
       display: none;
}

h1 {
       font-size: 10vh;
}

footer {
       margin-top: 2vh; /* Adjusted to be responsive to viewport height */
       background-color: black;
       text-align: center;
       font-weight: bold;
       color: white;
       font-size: 2vh; /* Adjusted to be responsive to viewport height */
       bottom: 0;
       left: 0;
       right: 0;
       position: fixed;
       height: 5vh; /* Adjusted to be responsive to viewport height */
}

@media (min-width: 576px) {
       :root {
              --size-divisor: 2;
       }
}
@media (min-width: 768px) {
       :root {
              --size-divisor: 1.5;
       }
}
@media (min-width: 992px) {
       :root {
              --size-divisor: 1;
       }
}
@media (min-width: 1200px) {
       :root {
              --size-divisor: .67;
       }
}